[data-showmore] {}

[data-showmore-content] {}

[data-showmore-button] {


	height: rem(18);
	width: rem(90);

	border: 1px solid $btnColor;


	color: $btnColor;
	font-size: rem(5);
	line-height: math.div(6, 5);

	span {
		&:last-child {
			display: none;
		}

		._showmore-active & {
			display: none;

			&:last-child {
				display: block;
			}
		}
	}
}