//<FORM>
// Снипет (HTML):
.form {
	display: grid;
	padding: rem(40) rem(40) rem(67);
	width: 100%;

	gap: rem(32);
	max-width: rem(490);

	background: $btnColor;

	text-align: center;
	color: #fff;

	&__row {}

	&__column {}

	&__item {}

	&__title {
		font-size: rem(24);
	}

	&__input {

		width: 100%;
		height: rem(39);
		padding-left: rem(18);

		border-bottom: 1px solid #fff;

		&::placeholder {
			color: rgba(255, 255, 255, 0.58);

		}

		background-color: transparent;
	}

	&__button {
		margin-top: rem(30);
	}

	&__error {}
}

//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
@import "button";

// <INPUTS>
// Снипет (HTML): inp
// @import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";