// Заголовки, общие БЄМ блоки и проче...
.title {
  position: relative;
  padding-bottom: rem(28);
  @include adaptiveValue("padding-bottom", 28, 15);
  @include adaptiveValue("margin-bottom", 55, 32);

  font-size: rem(26);
  line-height: math.div(31, 26);
  color: $titleColor;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: rem(3);

    background-color: $blueGreenColor;
  }

  &_type,
  &_solution,
  &_sets {
    &::after {
      width: rem(257);
    }
  }

  &_cat {
    &::after {
      width: rem(150);
    }
  }

  &_70 {
    &::after {
      width: rem(70);
    }
  }
}

.vhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.desktop-hidden {
  @media (min-width:$mobile) {
    display: none !important;
  }
}

.mobile-hidden {
  @media (max-width:$mobile) {
    display: none !important;
  }
}

.m-mobile-hidden {
  @media (max-width: em(360)) {
    display: none !important;
  }
}