//====================================================================================================

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;

  background: rgba(255, 255, 255, 0.22);

  z-index: 50;

  @media (max-width:$mobile) {
    background-color: $headerColor;
  }

  /* .header__container */
  &__container {
    @include adaptiveValue("height", 52, 92);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    padding: 0 rem(10); // отступы безопасности

    /* .menu__body */
    &__body {
      @media (max-width:$mobile) {
        position: fixed;
        width: rem(250);
        height: 100%;
        top: 0;
        right: -75%;

        padding-top: rem(10);
        padding-left: rem(36);
        padding-right: rem(36);
        padding-bottom: rem(20);

        overflow: auto;
        background: rgba(71, 121, 184, 0.97); // цвет меню
        transition: all 0.4s ease-in-out .0s;

        .menu-open & {
          right: 0;

          &::before {
            right: 0;
          }
        }
      }
    }

    &__list {
      display: flex;
      @include adaptiveValue("column-gap", 92, 15);

      @media (max-width:$mobile) {
        flex-direction: column;
        row-gap: rem(28);
        margin-bottom: rem(10);

        text-align: left;
      }
    }

    /* .menu__item */
    &__item {
      display: flex;
      align-items: center;
      gap: rem(15);

      &:first-child {
        margin-bottom: rem(30);

        font-size: rem(12);
        color: #fff;
        line-height: math.div(20, 12);

        @media (min-width:$mobile) {
          display: none;
        }
      }
    }

    /* .menu__link */
    &__link {
      font-size: rem(14);
      line-height: math.div(24, 14);
      color: #fff;

      @media (max-width:$mobile) {
        font-size: rem(20);
      }

      transition: color 0.3s ease 0s;

      @media (any-hover: hover) {
        &:hover {
          color: $blueGreenColor;
        }
      }
    }
  }
}

.mobile-list {
  position: relative;
  display: grid;
  gap: rem(10);
  padding: rem(18) 0;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: rem(200);
    height: rem(1);
    left: -4%;

    background: rgba(255, 255, 255, 0.5);
  }

  &::before {
    bottom: 0;
  }

  &::after {
    top: 0;
  }

  /* .mobile-list__item */
  &__item {}

  /* .mobile-list__link */
  &__link {
    font-size: rem(10);
    color: #161616;

    &:hover {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;

  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(43);
    height: rem(32);
    cursor: pointer;
    z-index: 999;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      left: 0px;
      position: absolute;
      width: 100%;
      height: rem(3);
      background-color: #fff;
    }

    &::before {
      top: rem(2);
    }

    &::after {
      bottom: 0px;
    }

    span {
      top: calc(50% - 1px);
    }

    .menu-open & {
      width: 26px;
      height: 26px;

      span {
        transform: scale(0);
      }

      &::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }

      &::after {
        transform: rotate(45deg);
        bottom: calc(50% - 2px);
      }
    }
  }
}