//====================================================================================================

.header {
  height: rem(52);
  background-color: #fff;
  background: rgba(255, 255, 255, 0.22);
  position: absolute;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;

  /* .header__container */
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: rem(34);
  }

  &__logo {
    // justify-content: end;

    img {
      // align-self: end;

    }
  }

  &__menu {
    // flex: 1 1 auto;
  }

  .menu {
    padding: 0 rem(10); // отступы безопасности

    /* .menu__body */
    &__body {
      @media (max-width:$mobile) {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        @include adaptiveValue("padding-top", 180, 120, 768, 320, 2);
        padding-left: rem(15);
        padding-right: rem(15);
        padding-bottom: rem(30);

        overflow: auto;
        background-color: gray; // цвет меню
        transition: all 0.3s ease 0s;

        // Плашка
        &::before {
          content: '';
          position: fixed;
          z-index: 2;
          width: 100%;
          top: 0;
          left: -100%;
          @include adaptiveValue("height", 100, 56, 768, 320, 2); // адаптируем плашку

          background-color: silver; // цвет плашки
          transition: all 0.3s ease 0s;
        }

        .menu-open & {
          left: 0;

          &::before {
            left: 0;
          }
        }
      }
    }

    &__list {
      display: flex;
      // justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      row-gap: rem(10);
      @include adaptiveValue("column-gap", 80, 15);

      @media (max-width:$mobile) {
        flex-direction: column;
        row-gap: rem(30);

        text-align: center;
      }
    }

    /* .menu__item */
    &__item {}

    /* .menu__link */
    &__link {
      font-size: rem(14);
      line-height: math.div(24, 14);
      color: #fff;

      @media (max-width:$mobile) {
        font-size: rem(30);
      }

      transition: color 0.3s ease 0s;

      @media (any-hover: hover) {
        &:hover {
          color: $blueGreenColor;
        }
      }
    }
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;

  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(27);
    height: rem(24);
    cursor: pointer;
    z-index: 999;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      left: 0px;
      position: absolute;
      width: 100%;
      height: rem(4);
      border-radius: rem(8);
      background-color: #000;
    }

    &::before {
      top: rem(2);
    }

    &::after {
      bottom: 0px;
    }

    span {
      top: calc(50% - 1px);
    }

    .menu-open & {
      span {
        transform: scale(0);
      }

      &::before {
        transform: rotate(-45deg);
        top: calc(50% - 2px);
      }

      &::after {
        transform: rotate(45deg);
        bottom: calc(50% - 2px);
      }
    }
  }
}