.main {
  background: url('@img/bg.jpg') right / cover no-repeat;
  position: relative;
  @include adaptiveValue("padding-top", 100, 194);
  @include adaptiveValue("padding-bottom", 100, 212);

  /* .main__container */
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .main__body */
  &__body {
    display: flex;
    justify-content: space-between;
  }

  /* .main__content */
  &__content {}

  /* .main__title */
  &__title {
    @include adaptiveValue("margin-bottom", 30, 24);

    font-family: Open Sans;
    @include adaptiveValue("font-size", 36, 20);
    font-weight: 700;
    line-height: math.div(49, 36);
    color: #fff;
    text-transform: uppercase;

    span {
      display: inline-block;
      @include adaptiveValue("font-size", 36, 16);
      text-transform: lowercase;
      color: #FFFEFE;
      font-weight: 300;
    }
  }

  /* .main__buttons */
  &__buttons {
    display: flex;
    align-items: center;
    column-gap: rem(24);
    row-gap: rem(9);

    @media (max-width:$mobile) {
      flex-direction: column;
      align-items: start;
    }
  }

  /* .main__button */
  &__button {}

  /* .main__services */
  &__services {

    display: flex;
    flex-direction: column;
    gap: rem(45);
    align-items: center;

    @media (max-width:$mobile) {
      padding-top: rem(35);
    }
  }
}

//========================================================================================================================================================

.contacts {
  margin-top: rem(-28);
  position: relative;
  z-index: 10;

  /* .contacts__container */
  &__container {}

  /* .contacts__list */
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(326px, 1fr));

    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);

    @media (max-width:$mobile) {
      grid-template-columns: repeat(1, 1fr);
      @include adaptiveValue("width", 700, 312);
      justify-items: center;
      margin: 0 auto;
    }
  }

  /* .contacts__time */
  &__item {
    padding-top: rem(12);
    padding-bottom: rem(40);

    border-bottom: rem(5) solid #54A3C1;

    @media (max-width:$mobile) {
      border-bottom: rem(2) solid #54A3C1;
    }

    @media (max-width:$mobile) {
      width: 100%;
      padding: rem(20);
    }
  }

  /* .contacts__time */
  &__time {}

  /* .contacts__production */
  &__production {}

  /* .contacts__contact */
  &__contact {
    @media (min-width: em(768)) and (max-width: em(1007)) {
      grid-column: span 2;
      justify-self: center;
    }
  }

  &__title {
    margin-bottom: rem(5);

    font-size: rem(24);
    font-weight: 600;
    line-height: math.div(40, 24);
    color: $blueGreenColor;

    @media (max-width:$mobile) {
      font-size: rem(22);
    }
  }
}

.time-contacts {

  @media (min-width:$mobile) {
    padding-left: rem(27);
    padding-right: rem(52);
  }

  /* .time-contacts__title */
  &__title {}

  /* .time-contacts__list */
  &__list {
    // overflow: auto;
  }

  /* .time-contacts__item */
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: rem(8);

    &:not(:last-child) {
      margin-bottom: rem(8);
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }

  /* .time-contacts__days */
  &__days {
    font-size: rem(14);
    font-weight: 600;
    line-height: math.div(24, 14);

    @media (max-width:$mobile) {
      font-size: rem(12);
    }
  }

  /* .time-contacts__hourse */
  &__hourse {
    color: $blueGreenColor;

    @media (max-width:$mobile) {
      font-size: rem(12);
    }
  }
}

.production-contacts {
  padding-right: rem(27);

  border-color: #478BBC;

  /* .production-contacts__title */
  &__title {}

  /* .production-contacts__text */
  &__text {
    font-size: rem(16);
    line-height: math.div(27, 16);

    @media (max-width:$mobile) {
      font-size: rem(14);
    }
  }
}

.contact-contacts {
  padding-bottom: rem(30);

  border-color: #274167;

  /* .contact-contacts__list */
  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(15);
  }

  /* .contact-contacts__item */
  &__item {

    display: flex;
    align-items: center;
    column-gap: rem(11);

    a {
      font-size: rem(16);
      font-weight: 700;
      line-height: math.div(27, 16);
    }
  }

  /* .contact-contacts__phone */
  &__phone {

    @media (max-width:$mobile) {
      font-size: rem(24) !important;
    }
  }

  /* .contact-contacts__adress */
  &__adress {
    font-size: rem(16) !important;
  }

  /* .contact-contacts__mail */
  &__mail {}
}

.contact-contacts {
  font-size: rem(16);

  /* .ccontact-contacts__title */
  &__title {}
}

//========================================================================================================================================================


.type-hospital {

  /* .type-hospital__page */
  &__page {}

  /* .type-hospital__container */
  &__container {
    position: relative;
  }

  /* .type-hospital__title */
  &__title {}

  /* .type-hospital__list */
  &__list {
    // display: flex;
    // @include adaptiveValue("column-gap", 63, 20);
  }

  /* .type-hospital__item */
  &__item {}
}

.title {

  /* .title_type */
  &_type {}
}

.item-type-hospital {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: rem(20);

  background-color: #fff;

  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    }
  }

  /* .item-type-hospital_1 */
  &_1 {}

  /* .item-type-hospital__header */
  &__header {
    display: grid;
    gap: rem(22);
    padding: rem(36) rem(14) rem(38);
    text-align: center;
    justify-items: center;
    width: 100%;

    background-color: $bgColor;

    border-bottom: 5px solid rgba(42, 147, 202, 0.5);
  }

  /* .item-type-hospital__image */
  &__image {}

  /* .item-type-hospital__title */
  &__title {
    font-size: rem(20);
    font-weight: 400;
    line-height: math.div(24, 20);
    color: $titleColor;
  }

  /* .item-type-hospital__text */
  &__text {
    font-size: rem(10);
    line-height: math.div(17, 10);

    text-align: left;
  }

  /* .item-type-hospital__list */
  &__list {
    padding: rem(11) rem(36) rem(20) rem(37);
    @include adaptiveValue("padding-left", 37, 26);
    flex: 1 1 auto;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  /* .item-type-hospital__row */
  &__row {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  /* .item-type-hospital__button */
  &__button {}
}

.row-item-type {
  display: flex;
  align-items: center;
  gap: rem(10);


  /* .row-item-type__image */
  &__image {}

  /* .row-item-type__body */
  &__body {}

  /* .row-item-type__title */
  &__title {
    @include adaptiveValue("font-size", 14, 10);
    line-height: math.div(24, 14);
    color: $blueGreenColor;
  }

  /* .row-item-type__text */
  &__text {
    font-size: rem(10);
    line-height: math.div(10, 7);
  }
}

.swiper-types-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(35);
  @include adaptiveValue("width", 35, 72);
  @include adaptiveValue("height", 32, 66);
  height: rem(32);
  top: 60%;

  border-radius: 1px;
  background: rgba(42, 147, 202, 0.8);

  transition: all .3s ease 0s;

  &:hover {
    background: rgba(42, 147, 202, 1);
  }

  @media (max-width:$mobileSmall) {
    top: 50%;
  }

  &_next {
    right: 0;

    @media (min-width:em(1280)) {
      right: rem(-24);
    }
  }

  &_prev {
    left: 0;

    @media (min-width:em(1280)) {
      left: rem(-24);
    }
  }

  &.swiper-button-disabled {
    opacity: 0;
  }
}


.swiper-pagination-types {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: rem(20) 0 0 0;

}

.swiper-pagination-bullet {
  height: rem(14);
  width: rem(14);
  border-radius: 50%;
  border: rem(2) solid $btnColor;
  cursor: pointer;

  transition: all 0.3s ease 0s;
}

.swiper-pagination-bullet-active {
  background-color: $blueGreenColor;
}


//========================================================================================================================================================

.sets {

  /* .sets__container */
  &__container {
    position: relative;

  }

  /* .sets__title */
  &__title {}

  /* .sets__body */
  &__body {}

  /* .sets__list */
  &__list {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // column-gap: rem(70);
    // @include adaptiveValue("column-gap", 70, 20);
  }

  /* .sets__item */
  &__item {
    max-width: rem(325);
  }
}

.title {

  /* .title_sets */
  &_sets {}
}

.item-sets {
  &:hover {
    .item-sets__list {
      opacity: 1;
    }
  }

  /* .item-sets__body */
  &__body {
    position: relative;
  }

  /* .item-sets__list */
  &__list {
    opacity: 0;
    transition: all .8s ease 0s;
  }

  /* .item-sets__item */
  &__item {
    @include adaptiveValue("font-size", 12, 7);
    font-weight: 400;
    line-height: math.div(24, 12);

    span {
      @include adaptiveValue("font-size", 14, 9);
      font-weight: 700;
      color: $blueGreenColor;
      line-height: math.div(28, 14);
    }
  }

  /* .item-sets__image */
  &__image {
    display: grid;
    place-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    background-color: #fff;


    img {
      max-width: 100%;
    }
  }

  /* .item-sets__footer */
  &__footer {}
}

.list-item-sets {
  display: flex;
  flex-direction: column;
  padding: rem(8) rem(70) rem(12) rem(18);
  row-gap: rem(6);
  // overflow-y: scroll;
  background: rgba(255, 255, 255, 0.9);

}

.footer-item-sets {
  display: grid;
  row-gap: rem(30);
  padding: rem(17) rem(12) rem(12) rem(14);

  background-color: #54a3c1;

  color: #fff;

  /* .footer-item-sets__top */
  &__top {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  /* .footer-item-sets__title */
  &__title {
    text-transform: uppercase;
  }

  /* .footer-item-sets__name */
  &__name {
    display: inline-block;
    padding-bottom: rem(6);

    border-bottom: 1px solid #fff;

    @include adaptiveValue("font-size", 18, 12);
    line-height: math.div(18, 12);
  }

  /* .footer-item-sets__type */
  &__type {
    padding-top: rem(6);

    @include adaptiveValue("font-size", 20, 18);
    font-weight: 600;
    line-height: math.div(30, 20);
  }

  /* .footer-item-sets__hospital */
  &__hospital {}

  &__footer {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: rem(40);
  }
}

.hospital-item-sets {
  display: grid;
  align-items: center;
  row-gap: rem(5);
  justify-items: center;
  max-width: rem(76);

  text-align: center;

  /* .hospital-item-sets__image */
  &__image {}

  /* .hospital-item-sets__name */
  &__name {}
}

//========================================================================================================================================================

.catalog {

  background-color: #fff;

  /* .catalog__container */
  &__container {}

  /* .catalog__title */
  &__title {}

  /* .catalog__body */
  &__body {}

  /* .catalog__header */
  &__header {}

  /* .catalog__products */
  &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* .catalog__product */
  &__product {}
}

.title {

  /* .title_cat */
  &_cat {}
}

.header-catalog {


  display: flex;
  align-items: center;
  padding: rem(7) rem(35) rem(0);

  justify-content: space-between;



  border-bottom: rem(3) solid #54A3C1;
  box-shadow: 0px 0px 5px #C5E2F1;

  /* .header-catalog__title */
  &__title {
    padding-bottom: rem(17);
    position: relative;

    transition: all 0.3s ease 0s;

    &._tab-active {

      &::after {
        content: '';
        position: absolute;
        bottom: rem(-3);
        left: 50%;
        height: 3px;
        width: rem(120);

        transform: translate(-50%, 0px);
        background-color: #335989;
      }

      font-weight: 600;

      // border-bottom: rem(3) solid #335989;
    }
  }

  /* .header-catalog__image */
  &__image {}

  /* .header-catalog__name */
  &__name {
    font-size: rem(14);
  }
}

.tabs {

  /* .tabs__content */
  &__content {}

  /* .tabs__body */
  &__body {}
}

.product {

  /* .product__body */
  &__body {
    position: relative;
    max-width: rem(220);

    text-align: center;

    &:hover {
      .product__list {
        opacity: 1;
      }
    }
  }

  /* .product__list */
  &__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: rem(10) rem(0) rem(16) rem(14);

    color: #fff;

    background-color: $btnColor;
    opacity: 0;
    z-index: 20;
    transition: all 0.6s ease 0s;
  }

  /* .product__image */
  &__image {

    padding: rem(13) rem(30);

    background-color: #FBFBFB;

    img {
      max-width: 100%;
    }
  }

  /* .product__stickers */
  &__stickers {
    position: absolute;
    display: grid;
    justify-items: center;
    gap: rem(2);

    top: 0;
    right: 0;
  }

  /* .product__volumes */
  &__volumes {
    position: absolute;
    display: grid;
    gap: rem(1);
    top: 0;
    left: 0;
  }

  /* .product__volume */
  &__volume {
    width: rem(37);
    height: rem(37);
    display: grid;
    place-items: center;

    background-color: $btnColor;

    /* .product__volume_1 */
    &_1 {}

    /* .product__volume_5 */
    &_5 {}
  }

  /* .product__banners */
  &__banners {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(26);

    img {
      max-width: 100%;
    }
  }

  /* .product__footer */
  &__footer {
    padding: rem(12) rem(15);
    display: grid;
    gap: rem(16)
  }

  /* .product__title */
  &__title {
    @include adaptiveValue("font-size", 20, 18);
    color: $blueGreenColor;

    text-decoration: underline;
  }

  /* .product__descr */
  &__descr {}

  /* .product__button */
  &__button {
    justify-self: center;
  }
}

.catalog-breadcrumbs {

  padding: rem(35) rem(0);

  /* .catalog-breadcrumbs__list */
  &__list {}

  /* .catalog-breadcrumbs__item */
  &__item {}
}

.list-product {
  display: grid;
  row-gap: rem(14);

  box-shadow: rem(0) rem(0) rem(2) rem(2) rgba($btnColor, $alpha: .4);

  text-align: left;

  /* .list-product__title */
  &__title {
    display: inline-block;
    align-self: start;
    justify-self: start;
    padding-bottom: rem(6);

    border-bottom: 1px solid #fff;

    @include adaptiveValue("font-size", 16, 17);
    line-height: math.div(19, 16);
  }

  /* .list-product__item */
  &__item {
    display: flex;
    align-items: center;

    gap: rem(15);
  }

  /* .list-product__image */
  &__image {
    min-width: rem(40);
  }

  /* .list-product__name */
  &__name {
    // max-width: rem(114);
  }

  &__button {
    justify-self: center;
    align-self: start;
  }
}