.main {
  background: url('@img/bg.jpg') right / cover no-repeat;
  position: relative;
  @include adaptiveValue("padding-top", 100, 194);
  @include adaptiveValue("padding-bottom", 100, 212);

  /* .main__container */
  &__container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 100%;

  }

  /* .main__body */
  &__body {
    // position: relative;
    display: flex;

    // justify-content: space-between;
    // align-items: center;
    // height: 800px;
    z-index: 2;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    // z-index: -1;
  }

  /* .main__content */
  &__content {}

  /* .main__title */
  &__title {
    font-family: Open Sans;
    @include adaptiveValue("font-size", 36, 20);
    font-weight: 700;
    line-height: math.div(49, 36);
    color: #fff;
    text-transform: uppercase;

    span {
      @include adaptiveValue("font-size", 36, 16);
      text-transform: lowercase;
      color: #FFFEFE;
      font-weight: 300;
    }
  }

  /* .main__buttons */
  &__buttons {}

  /* .main__button */
  &__button {

    /* .main__button_tr */
    &_tr {}
  }

  /* .main__services */
  &__services {

    display: flex;
    flex-direction: column;
    gap: rem(45);
    align-items: center;

    @media (max-width:$mobile){
       padding-top: rem(35); 
    }

  }
}